<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885281025440-jergcadmrsfnnk0k819khv8j8bp2cg3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885281025440-jergcadmrsfnnk0k819khv8j8bp2cg3d</string>
	<key>API_KEY</key>
	<string>AIzaSyDmf0_Wc3y202IVp9vWV8VzTr_WYYhQFlU</string>
	<key>GCM_SENDER_ID</key>
	<string>885281025440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qavenue</string>
	<key>PROJECT_ID</key>
	<string>qavenue-9aa26</string>
	<key>STORAGE_BUCKET</key>
	<string>qavenue-9aa26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885281025440:ios:fde6598526c7be336648c5</string>
</dict>
</plist>